__Previews/
*/__Previews/
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
'__Previews/' 
'*/__Previews/' 
'History/' 
'*/History/' 
'*.SchDocPreview' 
'*.PcbDocPreview' 
'*.~\([0-9]*\)*' 
